<!-- Card -->
<div class="card card-cascade narrower">

	<!-- Card image -->
	<div class="view view-cascade gradient-card-header purple-gradient">

		<!-- Title -->
		<h2 class="card-header-title">FallDetector App</h2>
		<img class="image"
			src="assets/images/fallDetector.png">
				<p class="card-text">An app that would automatically detect and send and emergency message when it has detected that the user has fallen down.</p>
		<button type="btn btn-primary" class="btn btn-success"
			(click)="getFallSensorApk()">Get App</button>

	</div>

	<!-- Card content -->
	<div class="card-body card-body-cascade narrower">

		<!-- Card image -->
	<div class="view view-cascade gradient-card-header purple-gradient">

		<!-- Title -->
		<h2 class="card-header-title">ChatBot App</h2>
		<img class="image"
			src="assets/images/chatbot.jpg">
				<p class="card-text">An AI driven ChatBot that would engage in conversations with the user, and would attempt to record user details, interests and personality.</p>
		<button type="btn btn-primary" class="btn btn-success"
			(click)="getChatBotApk()">Get App</button>

	</div>

</div>
<!-- Card -->

<h2>Stay tune for more incoming solutions!</h2>





