


<div class="card">
  <div class="card-header">Transaction History</div>
  <div class="card-body">
       <div class="table-responsive">
      <table class="table" *ngIf="transactions && transactions.length">
        <thead>
          <tr>
            <th>Payee Account</th>
            <th>Amount</th>
            <th>Sender Account</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
                    <td>{{  transaction.receiverAcc }}</td>
                    <td>{{  transaction.amount }}</td>
                    <td>{{  transaction.senderAcc }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>