<img class="img-fluid img-circle resize img-hover"
	src="assets/images/goldBuddyLogo.jpg">
<div style="float: right;">
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="text" placeholder="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
</div>

<app-dashboard></app-dashboard>

<router-outlet></router-outlet>

<mat-grid-list cols="3" rowHeight="1:1"> 
<mat-grid-tile><div>All Round GoldBuddy Experience</div></mat-grid-tile> 
<mat-grid-tile>Client Solutions</mat-grid-tile> 
<mat-grid-tile>Help Us Achieve More</mat-grid-tile>
 </mat-grid-list>

<div style="text-align: center">
	<img class="img-fluid img-circler resize"
		src="assets/images/YEPLogo.png">
	<p>YEP</p>
	<p>GoldBuddy</p>
	<p>tanjianjia@gmail.com</p>
</div>

