<p>User interests</p>

<div style="text-align:center">
  <h1>
    Client Solutions
  </h1>
</div>

<!-- Card -->
<div class="card card-cascade narrower">

	<!-- Card image -->
	<div class="view view-cascade gradient-card-header purple-gradient">

		<!-- Title -->
		<h2 class="card-header-title">GoldBuddy Travel Solutions</h2>
		<img class="image"
			src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
				<p class="card-text">Possible Implementations include dedicated and detailed travel plans between both 3rd party and GoldBuddies.</p>
	

	</div>

	

		<!-- Card image -->
	<div class="view view-cascade gradient-card-header purple-gradient">

		<!-- Title -->
		<h2 class="card-header-title">GoldBuddy Food Solutions</h2>
		<img class="image"
			src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
				<p class="card-text">Possible Implementations include detailed dietary restrictions and preferences of GoldBuddies.</p>
	

	</div>
	
		<!-- Card image -->
	<div class="view view-cascade gradient-card-header purple-gradient">

		<!-- Title -->
		<h2 class="card-header-title">GoldBuddy Medical Solutions</h2>
		<img class="image"
			src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
				<p class="card-text">Possible Implementations include detailed plans of medication and scheduled checkups between 3rd party and GoldBuddies</p>
	

	</div>
	
		<!-- Card image -->
	<div class="view view-cascade gradient-card-header purple-gradient">

		<!-- Title -->
		<h2 class="card-header-title">GoldBuddy Daily Solutions</h2>
		<img class="image"
			src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
				<p class="card-text">Possible Implementations include detailed schedule of GoldBuddies.</p>
	

	</div>
	<br>
<br>
	<h2>Stay tune for more incoming solutions!</h2>
</div>
<!-- Card -->


<br>
<br>
<br>
<br>



